/* This file is for your main application CSS */
@import "./phoenix.css";

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* Custom styles for posts*/
.post {
  max-width:490px;
  margin: 10px auto;
  border-radius:5px;
  padding: 20px;
  border: 1px solid #e6ecf0;
}

img {
  max-width: 100%;
}
.avatar {
  border-radius: 100px;
  width: 48px;
  margin-right: 15px;
}

.chirp-header {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}
.chirp-header-info {
  font-weight: bold;
}
.chirp-header-info span {
  color: #657786;
  font-weight: normal;
}
.chirp-header-info p {
  font-weight: normal;
  margin-top: 5px;
}

.chirp-info-counts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
  margin-top: 10px;
}
.chirp-info-counts div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.chirp-info-counts div i {
  color: #657786;
  margin-right: 10px;
}
@media screen and (max-width: 430px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .chirp-header {
    flex-direction: column;
  }
  .chirp-header img {
    margin-bottom: 20px;
  }
  .chirp-header-info p {
    margin-bottom: 30px;
  }
  .chirp-img-wrap {
    padding-left: 0;
  }
  .chirp-info-counts {
    display: flex;
    margin-left: 0;
  }
  .chirp-info-counts div {
    margin-right: 10px;
  }
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
